body {
    background: #4173F3;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}



.simon-container {
    width: 284px;
    height: 460px;
    background: #535B76;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.nopaddingleft {
    padding-left: 0 !important;
}

.nopaddingright {
    padding-right: 0 !important;
}

.colour-pads {
    width: 126px;
    height: 126px;
    border: 2px solid #000000;
    box-sizing: border-box;
}

.yellow {
    background: #c4b06f;
}

.yellow-on {
    background: #FFE88E !important;

}

.green {
    background: #409e43;
}

.green-on {
    background: #6BFF70 !important;
}

.red {

    background: #a34646;
}

.red-on {
    background: #FF6B6B !important;
}


.purple {

    background: #8255aa
}

.purple-on {
    background: #D28EFF !important;
}


.strict-button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #C4C4C4;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.start-button {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #e4e4e4;
}


.strict-light {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #9b1818;
    margin: auto;
}

.strict-light-on {
    background: #F12828;
}

.screen {
    width: 63px;
    height: 63px;
     margin: auto;
    background: #9ECE9D;
}

.counter {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: Rationale;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 45px;
    text-align: center;
}

/*tablet*/

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

    .simon-container {
        width: 80%;
        height: 60%;
    }

    .colour-pads {
        width: 100%;
        height: 200px;
    }

   
}


/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

    .colour-pads {
        width: 100%;
        height: 100px;
    }

} */

/* ipad pro below */

/* @media only screen and (min-width: 1024px) and (max-width: 1024px) {

    .simon-container {
        width: 80%;
    }

    .colour-pads {
        width: 100%;
        height: 300px;
    }

    .screen {
        width: 100%;
    }

}


@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .simon-container {
        width: 80%;
        height: 70%;
    }

    .colour-pads {
        width: 100%;
        height: 250px;
    }
    
    .screen {
        width: 100%;
    }
}*/
